<div class="address-form">
  <div class="address-form__fields">
      <mat-form-field class="street">
        <input matInput placeholder="Rua" [(ngModel)]="street.value" name="street" required>
        <mat-error *ngIf="street.invalid">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="city">
        <input matInput placeholder="Cidade" name="city" [(ngModel)]="city.value" required>
        <mat-error *ngIf="city.invalid">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="number">
        <input matInput placeholder="Número" required [(ngModel)]="number.value">
        <mat-error *ngIf="number.invalid">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="zipcode">
        <input matInput placeholder="CEP" required [(ngModel)]="zipcode.value">
        <mat-error *ngIf="zipcode.invalid">CEP Inválido</mat-error>
      </mat-form-field>

      <mat-form-field class="neighbourhood">
        <input matInput placeholder="Bairro" required [(ngModel)]="neighbourhood.value">
        <mat-error *ngIf="neighbourhood.invalid">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="state">
        <input matInput placeholder="Estado" required [(ngModel)]="state.value">
        <mat-error *ngIf="state.invalid">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field class="complement">
        <input matInput placeholder="Complemento" [(ngModel)]="complement.value">
      </mat-form-field>
    </div>

  <div class="address-form__footer">
    <button mat-raised-button (click)="onCancel()">Voltar</button>
    <button mat-raised-button color="warn" (click)="onSubmit()">Salvar</button>
  </div>
</div>
