<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      Endereços
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['new']">
        Novo Endereço
      </button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">
        Atualizar
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Street</th>
          <th>Number</th>
          <th>Complement</th>
          <th>District</th>
          <th>City</th>
          <th>State</th>
          <th>Zipcode</th>
          <th>Reference</th>
          <th>#</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let address of address">
          <td>{{ address.id }}</td>
          <td>{{ address.street }}</td>
          <td>{{ address.number }}</td>
          <td>{{ address.complement }}</td>
          <td>{{ address.district }}</td>
          <td>{{ address.city }}</td>
          <td>{{ address.state }}</td>
          <td>{{ address.zipcode }}</td>
          <td>{{ address.reference }}</td>
          <td>
            <button
              class="btn btn-outline-warning mb-1 btn-sm"
              (click)="onEdit(address.id)"
            >
              Atualizar
            </button>
          </td>
          <td>
            <button class="btn btn-outline-danger mb-1 btn-sm" href="#">
              Remover
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
