<h1>address works!</h1>

<input type="text" (input)="this.street = $event.target.value"/>
<input type="text" (input)="this.number = $event.target.value"/>
<input type="text" (input)="this.complement = $event.target.value"/>
<input type="text" (input)="this.district = $event.target.value"/>
<input type="text" (input)="this.city = $event.target.value"/>
<input type="text" (input)="this.state = $event.target.value"/>
<input type="text" (input)="this.zipcode = $event.target.value"/>
<input type="text" (input)="this.reference = $event.target.value"/>

<h1>{{ street }}</h1>
<h1>{{ number }}</h1>
<h1>{{ complement }}</h1>
<h1>{{ district }}</h1>
<h1>{{ city }}</h1>
<h1>{{ state }}</h1>
<h1>{{ zipcode }}</h1>
<h1>{{ reference }}</h1>
